*{
    box-sizing: border-box !important;
}
.home_btn{
    height: 200px;
    width: 100px;
}
.navBAr li{
    margin-right: 20px !important;
    /* font-weight: 900 !important; */
}
.navBAr li a{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif !important;
    color: black !important;
    font-size: 20px !important;
}
.center_btn{
    margin: 20px 30px 0px 0px;
    width: 80px;
}
.center_btn:hover{
    border-bottom: 3px solid black;
    transition:  all 0.6s;
}

/* banner start  */
.banner_img img{
    width: 100%;
    background-size: cover;
}
.card_inner_icon{
    width: 75px;
    height: 75px;
    border: none;
    border-radius: 50%;
    background-color: #29435f;
}
.card_inner_icon:hover{
    background-color: rgb(13, 13, 97);
}
.card_inner_icon img{
    filter: invert(100%);
    -webkit-filter: invert(100%);
    width: 60%;
    position: relative;
    top: 10px;
    left: 15px;
}
/* banner end */

/* footer start  */
.bg-dark-subtle{
    background-color: #14202e !important;
}
.bg-blue{
    background-color: #14202e !important;
}
.input_box input{
    height:80px;
}
.input_box input::placeholder{
    font-size: 20px;
    letter-spacing: 2px;
    font-weight: 600;
}
.apple_store{
    width: 100%;
    height: 85px;
    border: none;
    border-radius: 20px;
    background-color: rgba(255, 255, 0, 0.683);
    display: flex;
    align-items: center;
}
.apple_store img{
    /* width: 16%; */
    height: 40px;
    /* margin-left: 20px; */
    
}
.google_store{
    width: 100%;
    height: 85px;
    border: none;
    border-radius: 15px;
    background-color: rgba(255, 255, 0, 0.683);
    display: flex;
    align-items: center;
}
.google_store img{
    height: 40px;
    /* margin-left: 20px; */
}

/* footer end  */


/* iframe start  */
.card_box{
    border: 2px solid rgba(0, 0, 0, 0.283);
    border-radius: 7px;
    transition: all .4s ;
}
.card_box:hover{
    box-shadow: 3px 3px 14px rgba(0, 0, 0, 0.571);
    transition: all .4s ;
}
/* iframe end */

/* inquiry form start  */
.inquiry_container{
    height: 600px;
    display: flex;
    align-items: center;
    
}
/* inquiry form end */



/* buy section start  */
.buy_card{
    text-decoration: none;
}
.buy_card:hover{
    text-decoration: underline;
}
.image_container{

    overflow: hidden;
}
.buy_card_img{
    transition: transform 0.3s ease;
    height: auto;
}
.buy_card_img:hover{
    transform: scale(1.1) rotate(1deg);
}
/* buy section end */

/* developer section start  */
.fixed-card {
    width: 300px; /* Adjust as needed */
    height: 400px ; /* Adjust as needed */
  }
/* developer section end */

/* product section  */

/* product section end */